/* Estilo padrão (Desktop e telas grandes) */
.banner-section {
  background-image: url("/public/image/background-desktop.webp");
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 600px;
  position: relative;
}

/* Estilo para tablets (768px a 1024px) */
@media (max-width: 1024px) {
  .banner-section {
    background-image: url("/public/image/background-tablet.webp");
    height: 80vh;
  }
}

/* Estilo para smartphones (até 767px) */
@media (max-width: 767px) {
  .banner-section {
    background-image: url("/public/image/background-mobile.webp");
    height: 60vh;
    max-height: none;
    background-position: top;
  }
}

.banner-content {
  height: 100%;
}

.text-white {
  color: #fff;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.1),
    1px 1px 1px rgba(0, 0, 0, 0.5), 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.lead {
  font-size: 1.25rem;
  font-weight: 300;
}
.banner-button {
  -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.promotion-card {
  background-color: #f0f9ff;
  border-radius: 10px;
}

.promoCol {
  position: relative;
  overflow: hidden;
  height: 150px;
  margin-bottom: 15px;
}

.promoCol:last-child::after {
  content: url("/public/image/free.webp");
  position: absolute;
  bottom: -20px;
  right: 20px;
}
.promotion-coral {
  position: relative; /*or absolute*/
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 2px dashed #2b3183;
}

.promotion-section {
  background-color: #2b3183;
}
